body {
      background-image: linear-gradient(to bottom, #00c9ff 0%, #92fe9d 100%), url(https://images.unsplash.com/photo-1502726299822-6f583f972e02);
   background-blend-mode: multiply;
  background-size: cover;  
}

button {
    background-color: #92fe9d;
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;   
    margin: 0.5rem auto 1.5rem;
    border: 2px solid #92fe9d;
    border-radius: 0.5rem;
    line-height: 1.1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button:hover {
    transition: all 0.1s ease-in-out;
    transform: translateY(-0.2rem);
}

button:active {
    background-color: #92fe9d;
    transition: all 0.15s ease-in-out;
    border: 2px solid #92fe9d;
}

button:focus {
    outline: none;
    border: 2px solid #92fe9d;
}

button:disabled {
    outline: none;
    transition: none;
    transform: none;
    cursor: not-allowed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin: 0 auto;
}

.container {
    background-color: #000000d0;
    border-radius: 1rem;
    margin: 50px;
    min-width: 350px;
    max-width: 500px;
    width: 50%;
    padding: 0 2rem;
    min-height: 700px;

    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.container header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container header h2 {
    margin-bottom: 0.2rem;
    font-weight: 500;
    color: white;
}

.container header h3 {
    margin-top: 0.2rem;
    font-weight: 200;
    font-size: 1rem;
    width: 80%;
    color: white;
}

.setting {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  color: white;
}

input[type='color'] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #000000;
    cursor: pointer;
    height: 50px;
    padding: 0.2rem;
    width: 50px;
}

input[type='color']:focus {
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
}

::-moz-color-swatch {
    border: 1px solid #000000;
}

.colors {
    display: flex;
    justify-content: space-around;
}

.colors .setting {
    align-items: center;
    text-align: center;
}

.colors .setting span {
    font-weight: 200;
    font-size: 0.9rem;
}

.sub-label {
    font-weight: 200;
    font-size: 0.9rem;
}

input[type='text'] {
    border: 1px solid #000000;
    padding: 0.35rem 0.85rem 0.35rem 0.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.3rem;
    font-family: 'Work Sans', sans-serif;
}

input[type='text']:focus {
    outline: none;
    border: 1px solid white;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: white;
    outline: none;
    padding: 0;
    margin: 0;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #92fe9d;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
input[type='range']::-webkit-slider-thumb:hover {
    background: #92fe9d;
}
input[type='range']:active::-webkit-slider-thumb {
    background: #92fe9d;
}
input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #92fe9d;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
input[type='range']::-moz-range-thumb:hover {
    background: #92fe9d;
}
input[type='range']:active::-moz-range-thumb {
    background: #92fe9d;
}
input[type='range']:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px black, 0 0 0 5px #92fe9d;
}

::-moz-range-track {
    background: black;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #92fe9d;
    background-color: black;
    border-radius: 50%;
}

input[type='radio']:checked {
    background-color: #92fe9d;
}

input[type='radio']:focus {
    outline: none;
    border: 2px solid #92fe9d;
    background-color: #92fe9d;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

fieldset legend {
    margin-bottom: 0.5rem;
}

fieldset div {
    border: 1px solid #000000;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}

fieldset div:last-child {
    margin-right: 0;
}

fieldset div input {
    margin-right: 0.5rem;
    cursor: pointer;
}

fieldset div label {
    cursor: pointer;
}

.cta {
  margin-top: 10px;
    display: flex;
}

input.error {
    border: 2px solid #cd4218;
}

input.error:focus {
    border: 1px solid #cd4218;
}

.container-front.flipped {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.container-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.container-back.flipped {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.setting img {
    width: 90%;
    margin: 0 auto;
}

.info {
    text-align: center;
    margin-top: 0.2rem;
    font-weight: 200;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
  color: white;
}

.buttons{
  display: flex;  
  justify-content: center;  
  align-items: center;
  height: 15vh;  
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 900;
  letter-spacing: 4px;
  overflow: hidden;
}
a:hover {
  background: #03e9f4;
 
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.bg-container {
  position: relative; 
  display: flex;
  align-content: center;
  justify-content: center; 
}

.bubbles-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 15rem;
  transform: translateX(-50%);
  opacity: 0.75;
  overflow: visible;
}
.bubbles {
  width: 100%;
  height: auto;
}
.bubbles circle {
  stroke: white;
  fill: none;
}
.bubbles > g > g:nth-of-type(3n) circle {
  stroke: #87f5fb;
}
.bubbles > g > g:nth-of-type(4n) circle {
  stroke: #8be8cb;
}
.bubbles-large {
  overflow: visible;
}
.bubbles-large > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-large g:nth-of-type(1) {
  animation: up 6.5s infinite;
}
.bubbles-large g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-large g:nth-of-type(1) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(2) {
  animation: up 5.25s 250ms infinite;
}
.bubbles-large g:nth-of-type(2) g {
  transform: translateX(450px);
}
.bubbles-large g:nth-of-type(2) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(3) {
  animation: up 6s 750ms infinite;
}
.bubbles-large g:nth-of-type(3) g {
  transform: translateX(700px);
}
.bubbles-large g:nth-of-type(3) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(4) {
  animation: up 5.5s 1.5s infinite;
}
.bubbles-large g:nth-of-type(4) g {
  transform: translateX(500px);
}
.bubbles-large g:nth-of-type(4) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(5) {
  animation: up 6.5s 4s infinite;
}
.bubbles-large g:nth-of-type(5) g {
  transform: translateX(675px);
}
.bubbles-large g:nth-of-type(5) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-small {
  overflow: visible;
}
.bubbles-small > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-small g circle {
  transform: scale(0);
}
.bubbles-small g:nth-of-type(1) {
  animation: up 5.25s infinite;
}
.bubbles-small g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(1) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(2) {
  animation: up 5.75s infinite;
}
.bubbles-small g:nth-of-type(2) g {
  transform: translateX(750px);
}
.bubbles-small g:nth-of-type(2) circle {
  animation: wobble 3s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(3) {
  animation: up 5.25s 250ms infinite;
}
.bubbles-small g:nth-of-type(3) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(3) circle {
  animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(4) {
  animation: up 5.75s 325ms infinite;
}
.bubbles-small g:nth-of-type(4) g {
  transform: translateX(180px);
}
.bubbles-small g:nth-of-type(4) circle {
  animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(5) {
  animation: up 6s 125ms infinite;
}
.bubbles-small g:nth-of-type(5) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(5) circle {
  animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(6) {
  animation: up 5.13s 250ms infinite;
}
.bubbles-small g:nth-of-type(6) g {
  transform: translateX(650px);
}
.bubbles-small g:nth-of-type(6) circle {
  animation: wobble 3s 125ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(7) {
  animation: up 6.25s 350ms infinite;
}
.bubbles-small g:nth-of-type(7) g {
  transform: translateX(480px);
}
.bubbles-small g:nth-of-type(7) circle {
  animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(8) {
  animation: up 7s 200ms infinite;
}
.bubbles-small g:nth-of-type(8) g {
  transform: translateX(330px);
}
.bubbles-small g:nth-of-type(8) circle {
  animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(9) {
  animation: up 6.25s 233ms infinite;
}
.bubbles-small g:nth-of-type(9) g {
  transform: translateX(230px);
}
.bubbles-small g:nth-of-type(9) circle {
  animation: wobble 3s 275ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(10) {
  animation: up 6s 900ms infinite;
}
.bubbles-small g:nth-of-type(10) g {
  transform: translateX(730px);
}
.bubbles-small g:nth-of-type(10) circle {
  animation: wobble 2s 905ms infinite ease-in-out;
}
@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
@keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}